*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background:linear-gradient(135deg,#0f172a,#1e293b,#0f172a);
    color:white;
}

/* HEADER */

header{
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
               url("img/header.jpg");
    background-size:cover;
    background-position:center;
    text-align:center;
    padding:80px;
}

header h1{
    font-size:3rem;
    color:#00e5ff;
    text-shadow:0 0 15px #00e5ff;
}

header p{
    font-size:1.2rem;
}

/* NAV */

nav{
    background:#020617;
    padding:20px;
    text-align:center;
    position:sticky;
    top:0;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    padding:10px 18px;
    border:2px solid #00e5ff;
    border-radius:30px;
    transition:.3s;
}

nav a:hover{
    background:#00e5ff;
    color:#000;
    box-shadow:0 0 15px #00e5ff;
}

/* SECTION */

section{
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(8px);
    margin:25px auto;
    width:90%;
    padding:25px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,229,255,.3);
}

section h2{
    color:#38bdf8;
    margin-bottom:15px;
}

section img{
    width:100%;
    max-width:600px;
    display:block;
    margin:20px auto;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0,229,255,.5);
}

/* ASIDE */

aside{
    width:90%;
    margin:25px auto;
    padding:25px;
    border-radius:15px;

    background:linear-gradient(
        135deg,
        #7c3aed,
        #2563eb
    );

    box-shadow:0 0 20px rgba(124,58,237,.5);
}

/* PDF */

iframe{
    width:100%;
    height:700px;
    border:none;
    border-radius:10px;
    background:white;
}

/* BOTON */

.boton{
    display:inline-block;
    background:#00e5ff;
    color:black;
    text-decoration:none;
    padding:12px 20px;
    border-radius:30px;
    font-weight:bold;
    transition:.3s;
}

.boton:hover{
    background:#38bdf8;
    box-shadow:0 0 20px #00e5ff;
}

/* FOOTER */

footer{
    background:#020617;
    text-align:center;
    padding:25px;
    margin-top:30px;
    border-top:3px solid #00e5ff;
}

footer p{
    color:#cbd5e1;
}